# Ignore datafolder
data/

# Ignore caches
*cache*

# Ignore notebooks
*.ipynb

# Ignore temporary files/folders
*tmp*

# Ignore tensorboard output folder
runs/

# Ignore model folder
models/

# Ignore snapshots folder
snapshots/
